build: false

environment:
    matrix:
        - PYTHON: "C:\\Python27-x64"
          PYTHON_VERSION: "2.7.8"
          PYTHON_ARCH: "64"
        - PYTHON: "C:\\Python35-x64"
          PYTHON_VERSION: "3.5.0"
          PYTHON_ARCH: "64"
init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - "%PYTHON%/python.exe setup.py install"
  - "%PYTHON%/python.exe -m pip install nose"
  - "%PYTHON%/python.exe -m pip install coverage"

test_script:
  - "%PYTHON%/python.exe -m nose -v"
